# OS
.DS_Store

# Python
__pycache__/
*.pyc
.venv/
.env

# Training artifacts & large data
runs/
data/
data_*/*
datasets/
# Allow committing best.pt directly; ignore all other .pt files
*.pt
*.onnx

# IDE
.vscode/
.idea/
